PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/portfolio
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=amethsl2218@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
CONTACT_EMAIL=amethsl2218@gmail.com
